.App {
  text-align: left;
}

.productlist__wrapper {
  padding: 40px;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  gap: 15px;
}
.product__wrapper {
  align-items: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: space-between;
  gap: 15px;
}
.product__thumb {

}

.product__info__wrapper {
  flex: 1;
  width: 100%;
}

.product__info__name {

}

.product__info__price {

}
.product__details-btn {
  cursor: pointer;
  color: #fff;
  background-color: mediumseagreen;
  border: 0;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 5px;
}

.product-details__wrapper {
  align-items: center;
  padding: 10px;
  width: 80%;
  border-radius: 5px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  gap: 15px;
  margin: 0 auto;
}
.product-detail__img {

}
.product-detail__info__wrapper {

}
.product-detail__info__name {

}
.product-detail__info__description {

}
.product-detail__buy__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 250px;

}
.product-detail__info__retailprice {

}
.product-detail__info__price {
  text-decoration: line-through;
}
.product-detail__info__status {

}
.product-detail__info__status {

}

.product__add-cart {
  color: #fff;
  position: absolute;
  background: mediumseagreen;
  padding: 20px;
  top: 0;
  left: 50%;
}

.product-detail__info__button {
  cursor: pointer;
  color: #fff;
  background-color: mediumseagreen;
  border: 0;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 5px;
}